@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
  height: 128px;
}

.header {
  width: 100%;
  margin: auto;
  background-color: #fcf8f8;
  padding: 30px 0 0 0;
}
.header_title {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0549019608);
}
.header_title h1 {
  font-size: 24px;
  font-weight: 800;
}
.header_title .dark-mode:hover {
  cursor: pointer;
}
.header_title .dark-mode button {
  border: none !important;
  font-size: 16px;
  background-color: #fcf8f8;
  cursor: pointer;
}
.header_search-filter {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 700px;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-top: 30px;
}

.search {
  background: #fff;
  color: #848484;
  border-radius: 10px;
  padding-left: 10px;
}
.search input {
  border: none;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
  width: 320px;
  height: 32px;
  border-radius: 30px;
}

.filter select {
  width: 130px;
  height: 32px;
  padding-left: 8px;
  font-size: 11px;
  font-weight: 400;
  border: none;
  border-radius: 7px;
}

.main {
  width: 100%;
  margin: auto;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 120px;
}

.container {
  width: 100%;
}
.container_item {
  width: 70%;
  margin: auto;
  background: #fff;
}
.container_item_title {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 800;
  padding: 10px;
  color: #111;
  text-decoration: none;
}
.container_item_description {
  font-size: 13px;
  text-decoration: none;
  color: #111;
  font-weight: 400;
  margin: 12px 0 14px 0;
  display: inline-block;
  padding: 10px;
}
.container_item_description span {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.back-button {
  margin-top: 6vh;
  margin-left: 4vw;
}
.back-button button {
  background: #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 17px;
  text-decoration: none;
  color: #111;
  font-weight: 300;
}
.back-button button:hover {
  cursor: pointer;
}

.single-country_container {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.single-country_container_img {
  width: 30%;
}
.single-country_container_img img {
  width: 100%;
  height: 100%;
}
.single-country_container_title {
  font-size: 24px;
  font-weight: 800;
}
.single-country_container_description {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.single-country_container_description_text {
  font-size: 14px;
  width: 100%;
  line-height: 2;
}
.single-country_container_border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.single-country_container_border a {
  font-size: 13px;
  text-decoration: none;
  color: #111;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 3px 8px;
}

#border-countries {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#languages {
  color: red;
}

strong {
  font-size: 17px;
  margin-right: 8px;
}

.darkmode {
  color: #fff;
  background: #202C36 !important;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */